<div class="container">
  <!--<app-my-chart-line [data]="lineTest2"></app-my-chart-line>-->
  <div class="container">
    <nav>
      <div class="header clearfix">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <h1 class="navbar-brand md-0">Winter</h1>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view1" routerLinkActive="active">Link to view 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view2" routerLinkActive="active">Link to view 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view3" routerLinkActive="active">Link to view 3</a>
          </li>
        </ul>

      </div>

    </nav>

  </div>

  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <p>&copy; Sveticov 2017</p>
</footer>

